@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	background-image: url("../images/background_land.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;	
    color: white;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

.streamTD {
    display: inline-block;
    border: black 1px solid;
    background-color: #E0E0D1;
    width: 25%;
    height: 100%;
    float:left;
    box-sizing:border-box;
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    text-align: center;
}

.fakeSkeletab {
    display:inline-block;
    padding:3px 10px;
    /* width: 118.725px; */
    width: auto;
    color: black;
    border:0;
    border-radius: 3px;
    font-family:inherit;
    font-size:1rem;
    font-weight:bold;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -ms-touch-action:manipulation;
    touch-action:manipulation
}

.fakeSkeletab:hover {
    background-color: #2E2B56;
    color: white;
    cursor: pointer;
    outline:0;
    -webkit-box-shadow:inset 0 0 0 2px #46436D;
    box-shadow:inset 0 0 0 2px #46436D
    -moz-border-radius: 5px 5px 5px 5px;
	  -webkit-border-radius: 5px 5px 5px 5px;
	  border-radius: 5px 5px 5px 5px;
}

.fakeSkeletab:active {
    background-color: #011626;
    color: #cccccc;
}

.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .dd-selected-text {
    color: black!important;
  }